@import "tailwindcss";


:root {
    --header-color: #FFFFFF;
    --menu-color: #2D2D2D;
    --mainBackground-color: #F8F9FA;
    --butttons-color: #004B8D;
    --footer-color: #1A1A1A;
    --shadow-buttons: 2px 2px 5px 1px rgba(0, 0, 0, 0.6);
    --shadow-hover: 0 5px 15px rgba(0,0,0,0.2)
}

/* menu css */

.menu-container {
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    position:sticky;
    top:0;
    z-index: 10;
}

.menu {
    display: flex;
    width: 70%;
    padding:30px;
    align-items: center;
}

.menu-logo-container {
    display: flex;
}
.menu-logo {
    font-size: 2.5rem;
    color:#fff;
    margin-right: 300px;
}

.page-links-container {
    display: flex;
}
.page-links {
    display: flex;
    gap: 10px;
    margin-right:170px;
}
.page-links a {
    color:#fff;
    text-decoration: none;
    transition:all 0.3s ease;
}
.page-links a:hover {
    color: var(--butttons-color)
}

.setup-links-container {
    display: flex;
}

.setup-links a {
    color:#fff;
    padding:5px;
    text-decoration: none;
    border: 1px solid var(--butttons-color);
    border-radius: 9px;
    background-color: var(--butttons-color);
    transition: all 0.3s ease;
}
.setup-links a:hover {
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow:var(--shadow);
    color: var(--butttons-color)
}

/*header*/

.header-container {
    display: flex;
    background-image:url("../images-folder/darya-tryfanava-UCNaGWn4EfU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.header-container::before {
    content: "";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.3) 100%);
    z-index: -1;
}
.header {
    height: 75vh;
    display: flex;
    align-items: center;
}

.wellcome-container {
    display: flex;
    flex-direction: column;
}
.wellcome {
    font-weight: 700;
    font-size: clamp(48px, 2vw, 56px);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
    padding-left:200px ;
    color: #fff;
    animation: fadeIn 2s ease-out;
}
.subheader {
    padding-left:200px;
    font-weight: 300;
    color:rgba(255,255,255,0.9);
    font-size: clamp(18px, 2vw, 22px);
    text-shadow: 2px 2px 4px #000000;
    animation: fadeIn 2s ease-out;
}



@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-250%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* current art */





.explanation-contanier {
    display: flex;
}
.explanation {
    margin-top:1.5%;
    margin-bottom:1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.explanation h2 {
    font-size: 3.5rem;
}


/**/

.art-sample-grid-container {
    display: flex;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    flex-direction: row;
    justify-content: center;
    background-color: #dcdcdccb;

}
.art-sample-grid-container.visible {
    opacity: 1;
    transform: translateY(0);
}
.art-sample-container {
    display: flex;  
    align-items: center;
}
.art-sample {
    margin:25px;
    display: flex;
    width: 350px;
    height: 430px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    /*   border: 1px solid #000000;  */
    border-radius: 8px;
    background-color: #fff;
}
.date-added {
    padding:3px 0 3px 0;
}
.art-sample:hover {
    box-shadow: var(--shadow-hover);
}
.art-sample h2 {
    padding:0.5%;
}
.imgs {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* about artist */

.about-section-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.about-section {
    width: 85%;
    margin: 15px;
    display: flex;
    flex-direction: column;

}
.explaner-about-section {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-collums {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:60px;
}
.right-collum p {
font-size: 1.1em;
line-height: 1.4;
}
.right-collum h3 {
    font-size: 1.5rem;
}
.our-misson-right-collum {
    margin-bottom: 15px;
}
.left-collum li {
    line-height: 1.4;
    font-size: 1.1em;
}
.left-collum h3 {
    font-size: 1.5rem;
}

/**/



.featured-artists {
    background-color: #dcdcdccb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured-artists h2 {
    font-size: 2.5em;
    text-align: center;
}
.card-imgs {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    padding-bottom: 5px;
}
.grid-artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 350px;
    height: auto;
    min-height: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin: 25px 75px;
}
.artist-bio {
    padding-top:5px;
}

/* Custom Tailwind theme */
@theme {
    --color-header: #2D2D2D;
    --color-footer: #2D2D2D;
    --color-footer-main-text: #f8fafc;
    --color-footer-secondary-text: #94a3b8;
    --color-buttons: #004B8D;
    --color-grayAlt: #dcdcdccb;
    --animate-slide-in-from-left: slideInFromLeft 1s ease-out;
    --animate-fade-in: fadeIn 2s ease-out

}

@layer components {
    .mls {
        padding-right:10px
    }
    .hero-img {
    display: flex;
    background-image:url("../images-folder/darya-tryfanava-UCNaGWn4EfU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    }
    .hero-img::before {
    content: "";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.3) 100%);
    z-index: -1;
    }
    .card-tw {
        @apply bg-white rounded-lg w-87.5 h-107.5  p-2.5 flex justify-center items-center flex-col;
    }
    .img-tw {
        @apply w-82.5 h-62.5 object-cover rounded-lg;
    }
    .footer-card-tw {
        @apply flex  flex-col items-center py-6.25
    }
}

@layer base {
    h1 {
        font-size: 2.5rem;
    }
}